# üìò 04_type_casting_io.ipynb

### üß© Topic: Type Casting and Input/Output


## üß† 1. Introduction

In Python, **type casting** refers to converting one data type to another.  
Input and output (I/O) operations let you interact with users ‚Äî reading inputs and displaying outputs.

## üîÑ 2. Type Casting ‚Äî Converting Data Types

In [ ]:
# Implicit Type Conversion (automatic)
x = 10     # int
y = 2.5    # float
z = x + y  # int + float ‚Üí float
print("z:", z, "| type:", type(z))

# Explicit Type Conversion (manual)
a = "100"
b = int(a)  # str ‚Üí int
print("a:", a, "| type:", type(a))
print("b:", b, "| type:", type(b))


### ‚úÖ Common Type Conversion Functions

| Function | Converts to |
|-----------|--------------|
| `int(x)` | Integer |
| `float(x)` | Floating-point |
| `str(x)` | String |
| `bool(x)` | Boolean |
| `list(x)` | List |
| `tuple(x)` | Tuple |
| `set(x)` | Set |

In [ ]:
# Example: Various type conversions
x = 10
print("int to float:", float(x))
print("int to string:", str(x))
print("int to bool:", bool(x))
print("list to tuple:", tuple([1, 2, 3]))
print("tuple to set:", set((4, 5, 6)))

## üí¨ 3. Input from User


By default, the `input()` function reads user input as a **string**.

Example:
```python
name = input("Enter your name: ")
age = input("Enter your age: ")
```

In [ ]:
# Example: Taking input (you can test this in Jupyter/Colab)
# name = input("Enter your name: ")
# age = int(input("Enter your age: "))
# print(f"Hello {name}, you are {age} years old!")


### ‚ö†Ô∏è Note
To perform calculations, **convert inputs** to appropriate types (`int`, `float`, etc.) since `input()` always returns `str`.

## üñ®Ô∏è 4. Output ‚Äî Using print() Function

In [ ]:
# Basic print
print("Hello, Python!")


### üîπ Multiple Values
You can print multiple variables separated by commas (`,`) or customize the separator and end character.

In [ ]:
name = "Surendra"
age = 24
print("Name:", name, "Age:", age)
print("Python", "is", "awesome", sep="-", end="!\n")

## üßµ 5. String Formatting ‚Äî Making Output Beautiful


Python provides multiple ways to format strings:

### üß© a) Old Style (`%` operator)
```python
print("Name: %s, Age: %d" % ("Surendra", 24))
```

### üß© b) `str.format()` Method
```python
print("Name: {}, Age: {}".format("Surendra", 24))
print("Name: {1}, Age: {0}".format(24, "Surendra"))
```

### üß© c) f-Strings (Recommended)
```python
name = "Surendra"
age = 24
print(f"Name: {name}, Age: {age}")
```

In [ ]:
# Examples of string formatting
name = "Surendra"
age = 24

# % operator
print("Name: %s, Age: %d" % (name, age))

# format() method
print("Name: {}, Age: {}".format(name, age))
print("Name: {1}, Age: {0}".format(age, name))

# f-string
print(f"Name: {name}, Age: {age}")

## üí° 6. Formatting Numbers

In [ ]:
# Decimal places and padding
pi = 3.1415926535
print("Pi rounded to 2 decimals: {:.2f}".format(pi))
print(f"Pi rounded to 3 decimals: {pi:.3f}")
print("Right-aligned number: {:>10}".format(42))


## üß† 7. Summary

| Concept | Description |
|----------|-------------|
| Type Casting | Converting one data type to another |
| `input()` | Reads input as a string |
| `print()` | Displays output |
| String Formatting | `%`, `.format()`, or f-strings |
| Number Formatting | Control decimal precision and alignment |


## üí° Practice Exercises

1Ô∏è‚É£ Take two numbers as input and print their sum.  
2Ô∏è‚É£ Input your name and age, and print using f-string formatting.  
3Ô∏è‚É£ Convert a string `"123.45"` to a float and print its type.  
4Ô∏è‚É£ Print `3.1415926535` rounded to 4 decimal places.


---
## ‚úÖ Next Notebook
üëâ `05_operators.ipynb` ‚Äî Learn about arithmetic, comparison, logical, and bitwise operators.